#articlePopup{
    height: 245px;
    width: 175px;
}
.articleCard{
    width:100%;
    margin-bottom: 10px;
    background-color: rgb(255,255,255);
    border-radius: 10px;
}
#articleCard-head{
    width:100%;
    overflow: auto;
    padding-top:10px;
}
#articleCard-avatar{
    width:52px;
    height:52px;
    float: left;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 20px;
}
#articleCard-headright{
    width:80%;
    float: left;
    margin-left: 5px;
}
#articleCard-name{
    color: rgb(51, 51, 51);
    font-weight: 700;
    font-size: 15px;
}
#articleCard-publishTime{
    color: rgb(147, 147, 147);
    font-size:13px;
    margin-top: 5px;
}
#articleCard-body{
    width:80%;
    margin-left: 82px;
}
#articleCard-title{
    margin-left: 5px;
    font-size:20px;
    color:rgb(0,80,151);
    word-wrap: break-word; /* 允许长单词或 URL 换行 */
    overflow-wrap: break-word; /* 允许长单词或 URL 换行，适用于非 IE 浏览器 */
}
#articleCard-content{
    font-size: 15px;
    margin-left: 5px;
    margin-top: 10px;
    margin-bottom: 5px;
    word-wrap: break-word; /* 允许长单词或 URL 换行 */
    overflow-wrap: break-word; /* 允许长单词或 URL 换行，适用于非 IE 浏览器 */
}

#articleCard-photo-container{

}
#articleCard-foot{
    width: 100%;
    overflow: auto;
}
#articleCard-foot-click{
    display: flex;
    align-items: center;
    width: 80%;
    margin-left: 87px;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
}
#articleCard-foot-heart{
    width: 16px;
    cursor: pointer;
}
#articleCard-foot-comment{
    width: 16px;
    cursor: pointer;
}
#articleCard-foot-share{
    width: 16px;
    cursor: pointer;
}
#articleCard-foot-commentArea{
    width: 100%;
    display: none;
    /* display: flex; */
    /* justify-content: center; */
}
#articleCard-commentArea{
    width: 100%;
    display: none;
}
#articleCard-foot-input-container{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
#articleCard-foot-input{
    background-color: rgb(240,241,244);
    align-items: normal;
    width: 80%;
    height: 60px;
    line-height: 24px;
    /* outline: none; */
    border: none;
    padding: 0;
    font-size: 18px;
    resize: none; /* 禁止用户调整尺寸 */
    outline-color: #ff8200;
    padding-left: 5px;
}
#articleCard-foot-input-button{
    width: 8%;
    height: 60px;

}
.articleCard-foot-label{
    padding-top: 0px;
    font-size: 17px;
    cursor: pointer;
}
.articleCard-photo{
    margin-left: 5px;
    width: 150px;
    height: 150px;
    transition: 0.3s;
    cursor: pointer;
}
.articleCard-photo.active {
  width: 100%; 
  height: auto;
}

.articleCard-photo:not(.active) {
    width: 150px;
    height: 150px;
}