#commentCard{
    width: 100%;
    height: 65px;
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: rgb(35,35,35);
    border-radius: 5px;
}
.comment{
    color: aliceblue;
    padding-top: 5px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    
}
#comment-avatar{
    width:40px;
    height: 40px;
    border-radius: 50%;
}
#comment-left{
    float: left;
}
#comment-right{
    width: 85%;
    height: 100%;
    margin-left: 10px;
}
#comment-right-head{
    height: 50%;
    overflow: hidden;
    font-size: 14px;
}
#comment-name{
    float: left;
    color: #ff8200;
    
}
#comment-right-body{
    height: 50%;
}
#comment-time{
    color: rgb(147, 147, 147);
    font-size:13px;
    float:left;
}
#comment-from{
    font-size: 13px;
    float: right;
    color: gray;
}
#comment-from:hover{
    color: rgba(237, 233, 233, 0.952);
}
#comment-page{
    background-color: white;
    text-align: right;
    font-size: 13px;
    color: gray;
}
#popBorder{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    min-width: 1420px;
    
    max-height: 960px;
}
#popArea {
    width: 50%;
    position: relative;
}

#articlePop {
    width: 100%;
    max-height: 525px;
    overflow-x: hidden;
}
/* 隐藏滑轨 */
#articlePop::-webkit-scrollbar {
    width: 0.5em; /* 设置滑轨宽度，可以根据需要进行调整 */
  }
  
  /* 隐藏滑轨轨道 */
  #articlePop::-webkit-scrollbar-track {
    background-color: transparent; /* 将滑轨轨道的背景颜色设置为透明 */
  }
  
  /* 隐藏滑块 */
  #articlePop::-webkit-scrollbar-thumb {
    background-color: transparent; /* 将滑块的背景颜色设置为透明 */
  }

#closePop {
    height: 5%;
    position: absolute;
    top: 1%;
    right: 2%;
    background-color: transparent;
    border: 0;
    opacity: 1;
    border-radius: 10px;
    outline: none;
}
#closePop svg:hover{
    fill: grey;
}