#publish{
    width: 100%;
    /* height: 100%; */
    background-color: rgb(35,35,35);
    border-radius: 10px;
    margin-bottom: 10px;
}
#pubish-main{
    width: 100%;
}
#publish-display{
    width: 100%;
    height: 5vh;
    background-image: url('../../images/sys/add.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size:auto 80%;
}
#publish-head{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
}
#publish-title{
    width:90%;
    height: 30px;
    font-size:20px;
    min-width: 500px;
    border: 0px;
    outline: none;
    padding: 1% 1%;
    color: rgb(191,191,191);
    border-bottom: 3px solid rgb(35,35,35);
    background-color: rgb(55,55,55);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
#publish:hover{
    color:black;
}
#publish-body{
    width: 100%;
    display: flex;
    justify-content: center;
}
#content{
    color: rgb(191,191,191);
    border: 0px;
    width:90%;
    height:60px;
    font-size: 15px;
    outline: none;
    resize: none;
    padding: 1% 1%;
    background-color: rgb(55,55,55);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
#publish-foot{
    margin-top: 10px;
    width: 92%;
    margin-left: 4%;
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}
#emotion{
    display: flex;
    align-items: center;
}
#emotion:hover label{
    color: orange;
}
#emotion:hover div{
    background-size: cover;
    background-position: center;
    background-image: url("../../images/sys/emotion/emotion2.png");
}
#publish-emotion{
    height: 30px;
    width: 30px;
    background-size: cover;
    background-position: center;
    background-image: url("../../images/sys/emotion/emotion1.png");
}
#picture{
    display: flex;
    align-items: center;
}
#picture:hover label{
    color: orange;
}
#picture:hover div{
    height: 30px;
    width: 30px;
    background-size: cover;
    background-position: center;
    background-image: url("../../images/sys/picture2.png");
}
#publish-picture{
    margin-left: 10px;
    height: 30px;
    width: 30px;
    background-size: cover;
    background-position: center;
    background-image: url("../../images/sys/picture1.png");
}
.publish-foot-option{
    color: rgb(153,153,153);
}
#publish-button{
    width: 70px;
    height: 30px;
    border-radius: 10px;
    background-color: rgb(234, 128, 17);
    font-size: 17px;
    color: rgb(230, 250, 230);
    border:0px;
    cursor: pointer;
    outline:none;
    margin-left: auto;
    margin-right: 0px;
}
#publish-imageContainer{
    display: none;
    width: 300px;
    height: 300px;
    margin-left: 4%;
    margin-top: 10px;
    padding-bottom: 10px;
    grid-template-columns: 100px 100px 100px; 
    grid-template-rows: 100px 100px 100px;
}
.upload-container {
    width: 100px;
    height: 100px;
    border: 2px dashed #ccc;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row: 1;
    grid-column: 1;
    cursor: pointer;   
}
.plus-icon {
    font-size: 80px;
    font-weight: bold;
    color: #ccc;
}