#search-box{
    top:18%;
    margin-bottom: 8px;
    margin-bottom: var(--gap-width);
    display: block;
    position: relative;
    height: 55px;
}
#search-border{
    height: 60%;
    color: var(--w-fonticon);
    z-index: 1; /* to place it above back-map */
    border: 1.5px solid #fff; /* 设置边框样式，白色边框宽度为2px，可以根据需要进行调整 */
    box-sizing: border-box;
    border-radius: 10px;
    display: flex;
    flex-direction: row; /* 纵向布局，如果需要横向则使用 row */
    justify-content: space-between; /* 垂直方向上的元素自动占满空间 */
    align-items: stretch; /* 子元素在横向上自动占满空间 */
}
#search-results{
    z-index: 3;
    position: absolute;
    top: 60%;
    left: 3%;
    width:94%;
    border-radius: inherit;
    color: grey;
    background-color: rgb(35,35,35);
    border-radius: 0 0 10px 10px;
    font-size: 13px;
    overflow: hidden;
    overflow-y: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.search-result-item {
    /* 添加此块以样式化search-results内部的内容 */
    overflow-y: auto; /* 添加此行以启用内容的垂直滚动 */
    max-height: 100%;
}
.search-result-item:hover {
    color: white; 
}
#search-border > * {
    
}
#searchImg{
    flex:1;
}
#search{
    flex: 7; /* 子元素均匀占满可用空间 */
    border: 0;
    border-radius: 5px 0 0 5px;
    background-color: white;
    padding: 0;
}
#search::placeholder{
    font-size:15px;
    color: gainsboro;
}
#search:focus {
    outline: none;
}
#clearInput{
    background-color: transparent;
    border: 0;
    color: var(--w-fonticon);
    z-index: 2;
    padding: 0;
    flex: 0;
    position: absolute;
    top:9%;
    right: 35%;
}
#clearInput svg {
    fill: grey; 
    border: 0;
}

#search-button{
    display: flex;
    flex: 3; /* 子元素均匀占满可用空间 */
    background-color: rgb(35,35,35);
    border: 0;
    border-radius: 0 8px 8px 0;
    color: #fff;
    font-size: 18px;
    align-items: center;
    transition: background-color 0.3s ease;
    outline: none;
}

#search-button svg {
    fill: #fff; 
    border: 0;
}

#search-button:hover {
    background-color: white; 
    color: rgb(35,35,35); 
}
#search-button:hover svg{
    fill: rgb(35,35,35); 
}