#body{
    display: flex;
    background-color: rgb(17, 17, 17);
    padding: 1% 8% 5% 8%;
    min-height: 720px;
}
#pageLeft{
    flex: 8;
}
#pageRight{
    margin-bottom: auto;
    flex: 2;
}
#choice-box{
    display: flex;
    width: 100%;
    padding-bottom: 2%;
    min-width: 640px;
}
.changeButton{
    color: rgba(223, 226, 228, 0.717);
    border: 0;
    background-color: rgb(17, 17, 17);
    font-size: 25px;
    padding-right: 10%;
    outline: none;
}
.changeButton:hover{
    color: rgb(254, 20, 20);
}
#all{
    color: rgb(254, 20, 20);
}
#userArea{
}
#user-search-results {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: 100%;
    min-width: 960px;
}
#articleArea{
    width: 80%;
    background-color:rgb(17, 17, 17);
}
#commentArea{
    width: 80%;
}
#videoArea{
}
.notFind{
    display: flex;
    padding-top: 10%;
    color: aliceblue;
    align-items: center;
}
#sorryImg{
    padding: 20px;
    padding-left: 40%;
    width: 10%;
}
#more{
    padding-top: 10%;
    padding-left: 30%;
    min-width: 120px;
}
#moreTitle{
    font-size: 22px;
    color: rgba(234, 239, 243);
}
.more-search-item{
    font-size: 15px;
    display: flex;
    margin-top: 7%;
    padding: 1%;
    align-items: center;
    border-radius: 5px;
    color: rgba(255, 255, 255, 0.9);
}
.more-search-item svg{
    width: 8%;
    fill:grey;
    padding-right: 2%;
}
.more-search-item:hover {
    background-color: rgba(245, 245, 245, 0.363); 
}
.more-search-item:hover svg{
    fill: rgb(35,35,35); 
}
#end{
    background-color: rgb(17, 17, 17);
    color: aliceblue;
    text-align: center;
}