<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nchu.mapper.ArticleRelayMapper">

    <resultMap id="BaseResultMap" type="com.nchu.pojo.ArticleRelay">
            <id property="articleid" column="articleid" jdbcType="INTEGER"/>
            <id property="relayid" column="relayid" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        articleid,relayid
    </sql>
</mapper>
