<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nchu.mapper.ArticleCommentMapper">

    <resultMap id="BaseResultMap" type="com.nchu.pojo.ArticleComment">
            <id property="articleid" column="articleid" jdbcType="INTEGER"/>
            <id property="commentid" column="commentid" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        articleid,commentid
    </sql>
    <select id="queryByPage" resultType="java.lang.Integer">
        select commentid from article_comment
        where articleid = #{articleid}
    </select>
</mapper>
