<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nchu.mapper.UserLoginMapper">

    <resultMap id="BaseResultMap" type="com.nchu.pojo.UserLogin">
            <id property="userid" column="userid" jdbcType="INTEGER"/>
            <id property="logintime" column="loginTime" jdbcType="TIMESTAMP"/>
            <result property="loginplace" column="loginPlace" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        userid,loginTime,loginPlace
    </sql>
    <select id="queryByPage" resultType="com.nchu.pojo.UserLogin">
        select * from user_login
        where userid = #{userid}
    </select>
</mapper>
