<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nchu.mapper.UserPhotoMapper">

    <resultMap id="BaseResultMap" type="com.nchu.pojo.UserPhoto">
            <id property="userid" column="userid" jdbcType="INTEGER"/>
            <id property="photoid" column="photoid" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        userid,photoid
    </sql>
</mapper>
