<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nchu.mapper.UserArticleMapper">

    <resultMap id="BaseResultMap" type="com.nchu.pojo.UserArticle">
            <id property="userid" column="userid" jdbcType="INTEGER"/>
            <id property="articleid" column="articleid" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        userid,articleid
    </sql>
    <select id="queryByPage" resultType="java.lang.Integer">
        select articleid from user_article
        where userid = #{userid}
    </select>
</mapper>
